body {
  margin: 20px;
  background-color: rgb(55, 74, 173);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid rgb(55, 74, 173);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.win {
  color: rgba(200, 0, 0, 0.8);
}

.game {
  width: 100%;
  margin: auto;
  text-align: center;
}

.board-row button {
  min-width: 100px;
  min-height: 100px;
  font-size: 50pt;
  background-color: rgb(92, 120, 217);
}

.game-board {
  margin-bottom: 20px;
}

.status {
  margin: 10px 0 20px 0;
}

.reverse-btn {
  margin-bottom: 10px;
}

.moves {
  width: 100%;
}

ol {
  list-style-position: inside;
  text-align: left;
}

li {
  margin: 10px 0 10px 0;
}

a, a:hover {
  color: inherit;
}

.name, .source {
  text-decoration: underline;
}

.signature {
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 10pt;
}
